[Desktop Entry]
Icon=funambol_logo
Exec=kcmshell4 kcm_sync

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_sync
X-KDE-FactoryName=kcm_sync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration
Categories=Qt;KDE;X-KDE-settings-network;

X-KDE-Keywords=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[bs]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[ca]=KCMSync,akonadi,funambol,sincronitza
X-KDE-Keywords[de]=KCMSync,Akonadi,Funambol,Abgleichen
X-KDE-Keywords[es]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[et]=KCMSync,akonadi,funambol,sünkroonimine,sünkroniseerimine
X-KDE-Keywords[fi]=KCMSync,akonadi,funambol,synkronointi
X-KDE-Keywords[fr]=KCMSync, akonadi, funambol, synchronisation
X-KDE-Keywords[hu]=KCMSync,akonadi,funambol,szinkronizáció
X-KDE-Keywords[it]=KCMSync,akonadi,funambol,sincronizzazione
X-KDE-Keywords[km]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[mr]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[nl]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[pl]=KCMSync,akonadi,funambol,synchronizacja
X-KDE-Keywords[pt]=KCMSync,akonadi,funambol,sincronização
X-KDE-Keywords[pt_BR]=KCMSync,akonadi,funambol,sincronização
X-KDE-Keywords[sk]=KCMSync,akonadi,funambol,sync
X-KDE-Keywords[sv]=IM synkronisering,akonadi,funambol,synkronisering
X-KDE-Keywords[tr]=KCMSync,akonadi,funambol,eşzamanla
X-KDE-Keywords[uk]=KCMSync,akonadi,funambol,sync,синхронізація
X-KDE-Keywords[x-test]=xxKCMSyncxx,xxakonadixx,xxfunambolxx,xxsyncxx

Name=Akunambol sync
Name[bs]=Akunambol sync
Name[ca]=Sincronització d'Akunambol
Name[de]=Akunambol-Abgleich
Name[es]=Sincronización de Akunambol
Name[et]=Akunamboli sünkroonimine
Name[fi]=Akunambol-synkronointi
Name[fr]=Synchronisation Akunambol
Name[hu]=Akunambol szinkronizáció
Name[it]=Sincronizzazione Akunambol
Name[km]=ធ្វើ​សមកាលកម្ម Akunambol
Name[mr]=आकुनाम्बोल सुसंगतता
Name[nl]=Akunambol-sync
Name[pl]=Synchronizacja Akunambol
Name[pt]=Sincronização do Akunambol
Name[pt_BR]=Sincronização do Akunambol
Name[sk]=Akunambol sync
Name[sv]=Akunambol-synkronisering
Name[tr]=Akunambol eşzamanlama
Name[uk]=Синхронізація Akunambol
Name[x-test]=xxAkunambol syncxx

Comment=Configure your sync servers
Comment[bs]=Konfigurišite Vaše sinhronizacijske servere
Comment[ca]=Configura els servidors de sincronització
Comment[de]=Ihre Server zum Abgleichen einrichten
Comment[es]=Configure sus servidores de sincronización
Comment[et]=Oma sünkroonimisserverite seadistamine
Comment[fi]=Synkronointipalvelinten määritys
Comment[fr]=Configure vos serveurs de synchronisation
Comment[hu]=Szinkronizáció kiszolgálók beállítása
Comment[it]=Configura i tuoi server di sincronizzazione
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ​ធ្វើ​សមកាលកម្ម​របស់​អ្នក
Comment[mr]=तुमचे सुसंगतता सर्व्हर्स संयोजीत करा
Comment[nl]=Uw sync-servers instellen
Comment[pl]=Konfiguruj moje serwery synchronizacji
Comment[pt]=Configurar os seus servidores de sincronização
Comment[pt_BR]=Configurar os seus servidores de sincronização
Comment[sk]=Nastaviť vaše synchronizačné servery
Comment[sv]=Anpassa synkroniseringsservrar
Comment[tr]=Eşitleme sunucularını yapılandırın
Comment[uk]=Налаштування ваших серверів синхронізації
Comment[x-test]=xxConfigure your sync serversxx
