[Desktop Entry]
Icon=funambol_logo
Exec=kcmshell4 kcm_sync

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_sync
X-KDE-FactoryName=kcm_sync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration
Categories=Qt;KDE;X-KDE-settings-network;

X-KDE-Keywords=KCMSync,akonadi,funambol,sync

Name=Akunambol sync
Name[de]=Akunambol-Abgleich
Name[es]=Sincronización de Akunambol
Name[et]=Akunamboli sünkroonimine
Name[fr]=Synchronisation Akunambol
Name[it]=Sincronizzazione Akunambol
Name[km]=ធ្វើ​សមកាលកម្ម Akunambol
Name[nl]=Akunambol-sync
Name[pt]=Sincronização do Akunambol
Name[pt_BR]=Sincronização do Akunambol
Name[sv]=Akunambol-synkronisering
Name[uk]=Синхронізація Akunambol
Name[x-test]=xxAkunambol syncxx

Comment=Configure your sync servers
Comment[de]=Ihre Server zum Abgleichen einrichten
Comment[es]=Configure sus servidores de sincronización
Comment[et]=Oma sünkroonimisserverite seadistamine
Comment[fr]=Configure vos serveurs de synchronisation
Comment[it]=Configura i tuoi server di sincronizzazione
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ​ធ្វើ​សមកាលកម្ម​របស់​អ្នក
Comment[nl]=Uw sync-servers instellen
Comment[pt]=Configurar os seus servidores de sincronização
Comment[pt_BR]=Configurar os seus servidores de sincronização
Comment[sv]=Anpassa synkroniseringsservrar
Comment[uk]=Налаштування ваших серверів синхронізації
Comment[x-test]=xxConfigure your sync serversxx
