[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Akunambol/SyncSource
Comment=Akunambol synchronization plugin
Comment[de]=Akunambol-Erweiterung zum Abgleichen
Comment[es]=Complemento de sincronización Akunambol
Comment[et]=Akunamboli sünkroonimisplugin
Comment[km]=កម្មវិធី​ជំនួយ​ធ្វើ​សមកាលកម្ម​របស់ Akunambol
Comment[pt]='Plugin' de sincronização do Akunambol
Comment[pt_BR]=Plug-in de sincronização do Akunambol
Comment[sv]=Akunambol-insticksprogram för synkronisering
Comment[uk]=Додаток синхронізації Akunambol
Comment[x-test]=xxAkunambol synchronization pluginxx
