#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Akunambol
Name[es]=Akunambol
Name[nds]=Akunambol
Name[nl]=Akunambol
Name[pt]=Akunambol
Name[pt_BR]=Akunambol
Name[sv]=Akunambol
Name[uk]=Akunambol
Name[x-test]=xxAkunambolxx
GenericName=Syncronization tool
GenericName[es]=Herramienta de sincronización
GenericName[pt]=Ferramenta de sincronização
GenericName[pt_BR]=Ferramenta de sincronização
GenericName[sv]=Synkroniseringsverktyg
GenericName[uk]=Засіб синхронізації
GenericName[x-test]=xxSyncronization toolxx
Exec=akunambol
Comment=Akunambol is an utility to sync your data
Comment[es]=Akunambol es una utilidad para sincronizar sus datos
Comment[pt]=O Akunambol é um utilitário para sincronizar os seus dados
Comment[pt_BR]=O Akunambol é um utilitário para sincronizar os seus dados
Comment[sv]=Akunambol är ett verktyg för att synkronisera information
Comment[uk]=Akunambol — допоміжна програма для синхронізації ваших даних
Comment[x-test]=xxAkunambol is an utility to sync your dataxx
Icon=akunambol
X-DocPath=akunambol/index.html
Terminal=false
Categories=Qt;KDE;Utility;Archiving;TelephonyTools;FileTransfer;
