[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Akunambol/SyncSource
Comment=Akunambol synchronization plugin
Comment[bs]=Akunambol sinhronizacijski dodatak
Comment[ca]=Connector de sincronització Akunambol
Comment[de]=Akunambol-Erweiterung zum Abgleichen
Comment[es]=Complemento de sincronización Akunambol
Comment[et]=Akunamboli sünkroonimisplugin
Comment[fr]=Module externe de synchronisation Akunambol
Comment[hu]=Akunambol szinkronizáció bővítmény
Comment[it]=Estensione di sincronizzazione Akunambol
Comment[km]=កម្មវិធី​ជំនួយ​ធ្វើ​សមកាលកម្ម​របស់ Akunambol
Comment[mr]=आकुनाम्बोल सुसंगतता प्लगइन
Comment[nl]=Synchronisatie-plug-in voor Akunambol
Comment[pl]=Wtyczka synchronizacji Akunambol
Comment[pt]='Plugin' de sincronização do Akunambol
Comment[pt_BR]=Plugin de sincronização do Akunambol
Comment[sk]=Synchronizačný plugin Akunambol
Comment[sv]=Akunambol-insticksprogram för synkronisering
Comment[tr]=Akunambol eşzamanlama eklentisi
Comment[uk]=Додаток синхронізації Akunambol
Comment[x-test]=xxAkunambol synchronization pluginxx
