#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Akunambol
GenericName=Syncronization tool
Exec=akunambol
Comment=Akunambol is an utility to sync your data
Icon=akunambol
X-DocPath=akunambol/index.html
Terminal=false
Categories=Qt;KDE;Utility;Archiving;TelephonyTools;FileTransfer;
