#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Akunambol
Name[bs]=Akunambol
Name[ca]=Akunambol
Name[cs]=Akunambol
Name[de]=Akunambol
Name[es]=Akunambol
Name[et]=Akunambol
Name[fr]=Akunambol
Name[gl]=Akunambol
Name[hu]=Akunambol
Name[it]=Akunambol
Name[km]=Akunambol
Name[mr]=आकुनाम्बोल
Name[nds]=Akunambol
Name[nl]=Akunambol
Name[pl]=Akunambol
Name[pt]=Akunambol
Name[pt_BR]=Akunambol
Name[sk]=Akunambol
Name[sv]=Akunambol
Name[tr]=Akunambol
Name[uk]=Akunambol
Name[x-test]=xxAkunambolxx
GenericName=Syncronization tool
GenericName[bs]=Alatka za sinhronizaciju
GenericName[ca]=Eina de sincronització
GenericName[cs]=Nástroj pro synchronizaci
GenericName[de]=Werkzeug zum Abgleichen
GenericName[es]=Herramienta de sincronización
GenericName[et]=Sünkroonimistööriist
GenericName[fr]=Outil de synchronisation
GenericName[hu]=Szinkronizációs eszköz
GenericName[it]=Strumento di sincronizzazione
GenericName[km]=កម្មវិធី​ធ្វើ​សមកាលកម្ម
GenericName[mr]=सुसंगतता साधन
GenericName[nl]=Synchronisatiehulpmiddel
GenericName[pl]=Narzędzie synchronizacji
GenericName[pt]=Ferramenta de sincronização
GenericName[pt_BR]=Ferramenta de sincronização
GenericName[sk]=Synchronizačný nástroj
GenericName[sv]=Synkroniseringsverktyg
GenericName[tr]=Eşzamanlama aracı
GenericName[uk]=Засіб синхронізації
GenericName[x-test]=xxSyncronization toolxx
Exec=akunambol
Comment=Akunambol is an utility to sync your data
Comment[bs]=Akunambol je uslužni projekat za sinhronizaciju podataka
Comment[ca]=Akunambol és una utilitat per a sincronitzar les vostres dades
Comment[de]=Akunambol ist ein Werkzeug zum Abgleichen Ihrer Daten
Comment[es]=Akunambol es una utilidad para sincronizar sus datos
Comment[et]=Akunambol on tööriist oma andmete sünkroonimiseks
Comment[fr]=Akunambol est un utilitaire pour synchroniser vos données
Comment[hu]=Az Akunambol egy segédprogram adatszinkronizációhoz
Comment[it]=Akunambol è un'utilità per sincronizzare i tuoi dati
Comment[km]=Akunambol គឺ​ជា​ឧបករណ៍​ធ្វើ​សមកាលកម្ម​ទិន្នន័យ​របស់​អ្នក
Comment[mr]=आकुनाम्बोल हा तुमच्या माहितीत सुसंगतता आणणारा उपकार्यक्रम आहे
Comment[nl]=Akunambol is een toepassing om uw gegevens te synchroniseren
Comment[pl]=Akunambol jest narzędziem do zsynchronizowania twoich danych
Comment[pt]=O Akunambol é um utilitário para sincronizar os seus dados
Comment[pt_BR]=O Akunambol é um utilitário para sincronizar os seus dados
Comment[sk]=Akunambol je nástoj na synchronizáciu vašich dát
Comment[sv]=Akunambol är ett verktyg för att synkronisera information
Comment[tr]=Akunambol verilerinizi eşzamanlamak için bir araçtır
Comment[uk]=Akunambol — допоміжна програма для синхронізації ваших даних
Comment[x-test]=xxAkunambol is an utility to sync your dataxx
Icon=akunambol
X-DocPath=akunambol/index.html
Terminal=false
Categories=Qt;KDE;Utility;Network;Archiving;TelephonyTools;FileTransfer;
