[Desktop Entry]
Name=Akunambol Sync Daemon
Name[de]=Akunambol-Daemon zum Abgleichen
Name[es]=Servicio de sincronización de Akunambol
Name[et]=Akunamboli sünkroonimisdeemon
Name[fr]=Démon de synchronisation Akunambol
Name[hu]=Akunambol szinkronizáció démon
Name[it]=Demone di sincronizzazione Akunambol
Name[km]=ដេមិន​ធ្វើ​សមកាលកម្ម​របស់ Akunambol
Name[mr]=आकुनाम्बोल सुसंगतता डीमन
Name[nl]=Sync-daemon van Akunambol
Name[pl]=Demon synchronizacji Akunambol
Name[pt]=Servidor de Sincronização do Akunambol
Name[pt_BR]=Servidor de sincronização do Akunambol
Name[sk]=Synchronizačný démon Akunambol
Name[sv]=Akunambol-synkroniseringsdemon
Name[tr]=Akunambol Eşzamanlama Yardımcısı
Name[uk]=Фонова служба синхронізації Akunambol
Name[x-test]=xxAkunambol Sync Daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=akunambolsync
X-KDE-DBus-ModuleName=akunambolsync
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE;
