[Desktop Entry]
Name=Contacts
Name[bs]=kontakti
Name[cs]=Kontakty
Name[de]=Kontakte
Name[es]=Contactos
Name[et]=Kontaktid
Name[fr]=Contacts
Name[ga]=Teagmhálacha
Name[hu]=Névjegyek
Name[it]=Contatti
Name[km]=ទំនាក់ទំនង
Name[nds]=Kontakten
Name[nl]=Contactpersonen
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[sk]=Kontakty
Name[sv]=Kontakter
Name[ug]=ئالاقەداشلار
Name[uk]=Контакти
Name[x-test]=xxContactsxx
Comment=Contacts Synchronization
Comment[cs]=Synchronizace kontaktů
Comment[de]=Kontakte abgleichen
Comment[es]=Sincronización de contactos
Comment[et]=Kontaktide sünkroonimine
Comment[fr]=Synchronisation de contacts
Comment[hu]=Névjegyek szinkronizálása
Comment[it]=Sincronizzazione dei contatti
Comment[km]=ការ​ធ្វើ​សមកាលកម្ម​ទំនាក់ទំនង
Comment[nl]=Synchronisatie van contactpersonen
Comment[pl]=Synchronizacja kontaktów
Comment[pt]=Sincronização dos Contactos
Comment[pt_BR]=Sincronização dos contatos
Comment[sk]=Synchronizácia kontaktov
Comment[sv]=Kontaktsynkronisering
Comment[uk]=Синхронізація записів контактів
Comment[x-test]=xxContacts Synchronizationxx
Type=Service
X-KDE-ServiceTypes=Akunambol/SyncSource

X-KDE-Library=akunambol_syncsource_contacts
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=contacts
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://akunambol.ruphy.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
